@tailwind base;
@tailwind components;
@tailwind utilities;

.mask {
  mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, transparent 80%);
}

@keyframes gridMovingLine {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20% {
    opacity: 100;
  }
  100% {
    transform: translateX(-100%);
    opacity: 100;
  }
}
